<div class="bg-white">
    <h2 class="font-semibold">Add Book</h2>
    <div class="pt-6">
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8">
        <div class=" lg:grid lg:grid-cols-1 lg:gap-y-8">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="space-y-12">
                <div class="border-b border-gray-900/10 pb-12">
                  <div class="col-span-full">
                    <label for="title" class="block text-sm/6 font-medium text-gray-900">Title</label>
                    <div class="mt-2">
                      <input id="title" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" type="text" formControlName="title">
                    </div>
                  </div>

                  <div class="col-span-full">
                    <label for="author" class="block text-sm/6 font-medium text-gray-900">Author</label>
                    <div class="mt-2">
                      <input id="author" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" type="text" formControlName="author">
                    </div>
                  </div>

                  <div class="col-span-full">
                    <label for="description" class="block text-sm/6 font-medium text-gray-900">Description</label>
                    <div class="mt-2">
                      <textarea id="description" name="about" rows="3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" formControlName="description"></textarea>
                    </div>
                  </div>

                  <div class="col-span-full">
                    <label for="categoryId" class="block text-sm/6 font-medium text-gray-900">Category</label>
                    <div class="mt-2">
                      <select class="relative w-full cursor-default rounded-md border-0 bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm/6" formControlName="categoryId">
                        <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-span-full">
                    <label for="price" class="block text-sm/6 font-medium text-gray-900">Price</label>
                    <div class="mt-2">
                      <input id="price" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" type="number" formControlName="price">
                    </div>
                  </div>

                  <div class="col-span-full">
                    <label for="cover" class="block text-sm/6 font-medium text-gray-900">Cover</label>
                    <div class="mt-2">
                      <input id="cover" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6" type="text" formControlName="cover">
                    </div>
                  </div>

                  <div class="mt-6 flex items-center justify-between gap-x-6">
                    <button (click)="onCancel()" class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Cancel</button>
                    <button type="submit" [disabled]="!form.valid" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  